body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "https://media.istockphoto.com/id/1279104620/photo/top-view-of-a-white-desktop-concept-job-search.jpg?s=612x612&w=0&k=20&c=Ow_kvA2wQ4rLlqX_oFHgpjLb1JMKyPQKLOPzbu6w6qw=";
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  display: flex;
  color: black;
  background-color: rgb(255 255 255);
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 5;
}

.dropdown-toggle{
  background-color: white;
  z-index: 10;
  color: rgb(142, 142, 219);
}


.nav-left{
  position: relative;
  left: 30px;

}

.nav-right{
  display: flex;
  position: absolute;
  right: 55px;
  margin-top: 20px;
  z-index: 10;
}

.cls{
  font-size: 28px;
  padding-right: 40px;
  z-index: 10;
}

.link{
  align-items: center;
  display: flex;
  margin-top: 8px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 5px;
  height: 33px;
  font-size: 15px;
  width: 67px;
  background-color: white;
  justify-content: center;
}


a:link {
  text-decoration: none;
}

.bgimg{
  z-index: -1;
  background: 
  /* linear-gradient(
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)
  ),  */
  url("https://static.vecteezy.com/system/resources/previews/005/086/601/original/man-search-for-hiring-job-online-from-laptop-human-resources-management-concept-searching-professional-staff-free-vector.jpg") center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.dropdown{
  z-index: 10;
}

.parentlogin{
  position: relative;
  width: 350px;
  height: 420px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-left: 35%;
  margin-top: 8%;
}

.btnlogin{
  width: 222px;
  margin-left: 20px;
}

.parentlogin h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 25px 0px;
}

.parentsignuprec{
  position: relative;
  width: 350px;
  height: 570px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 15px;
}

.btnsignuprec{
  width: 222px;
  margin-left: 20px;
}

.parentsignuprec h1{
  display: flex;
  justify-content: center;
  margin: -20px 0px 25px 0px;
}

.parentsignupapp{
  position: relative;
  width: 400px;
  height: 560px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 15px;
}

.parentsignupapp h1{
  display: flex;
  justify-content: center;
  margin: -20px 0px 25px 0px;
}

.mid{
  display: flex;
}

.name{
  width: 200px;
}

.styear{
  width: 115px;
}

.endyear{
  width: 100px;
}

.bgimgrec{
  z-index: -1;
  background: 
    /* linear-gradient(
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)
  ),  */
  url("https://images.unsplash.com/photo-1543269664-56d93c1b41a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmVjcnVpdG1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60") center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.navrec{
  display: flex;
  color: black;
  /* background-color: rgb(255 255 255); */
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 82px;
  align-items: center;
}

.navrec h1{
  color: white;
}


.navrec-left{
  position: relative;
  left: 30px;
}

.navrec-right{
  display: flex;
  position: absolute;
  right: 15px;
  align-items: center;
  list-style-type: none;
}

.navrec-right ul{
  display: flex;
  list-style-type: none;
}

.navrec-right ul li{
  padding: 12px;
  font-size: 18px;
}

.navrec-right ul li a{
  color: white;
}

.job{
  height: 560px;
}

.date{
  width: 270px;
}